name: Main
on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  versions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.0', 3.1, 3.2, 3.3, 3.4]
        rails: ['7.0', '7.1', '7.2', '8.0', '8.0_sprockets', '8.1', '8.1_sprockets']
        exclude:
          # rails 8.1: support ruby 3.2+
          - ruby: 3.0
            rails: '8.1'
          - ruby: 3.1
            rails: '8.1'
          # rails 8.1 + sprockets-rails
          - ruby: 3.0
            rails: '8.1_sprockets'
          - ruby: 3.1
            rails: '8.1_sprockets'
          # rails 8.0: support ruby 3.2+
          - ruby: 3.0
            rails: '8.0'
          - ruby: 3.1
            rails: '8.0'
          # rails 8.0 + sprockets-rails
          - ruby: 3.0
            rails: '8.0_sprockets'
          - ruby: 3.1
            rails: '8.0_sprockets'
          # rails 7.2: support ruby 3.1+
          - ruby: 3.0
            rails: '7.2'

    name: Ruby ${{ matrix.ruby }} - Rails ${{ matrix.rails }}
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails_${{ matrix.rails }}.gemfile

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake
