name: Main
on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  versions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, '3.0', 3.1, 3.2, 3.3, 3.4]
        rails: ['6.0', '6.1', '7.0', '7.1', '7.2', '8.0']
        include:
          - ruby: 2.6
            rails: '5.2'
          # rails 8.0 + sprockets-rails
          - ruby: 3.2
            rails: '8.0_sprockets'
          - ruby: 3.3
            rails: '8.0_sprockets'
          - ruby: 3.4
            rails: '8.0_sprockets'
        exclude:
          # rails 8.0: support ruby 3.2+
          - ruby: 2.7
            rails: '8.0'
          - ruby: 3.0
            rails: '8.0'
          - ruby: 3.1
            rails: '8.0'
          # rails 7.2: support ruby 3.1+
          - ruby: 2.7
            rails: '7.2'
          - ruby: 3.0
            rails: '7.2'

    name: Ruby ${{ matrix.ruby }} - Rails ${{ matrix.rails }}
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails_${{ matrix.rails }}.gemfile

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake
